<!-- <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container-fluid">
        <div
            class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2"
        >
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/">Mass Data</a>
                </li>
            </ul>
        </div>
        <div class="mx-auto order-0">
            <a class="navbar-brand mx-auto" routerLink="/add">Add Person</a>
        </div>
    </div>
</nav> -->
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-5">
        <div class="container-md">
            <a class="navbar-brand" routerLink="/">Mass Data</a>
            <div class="d-flex">
                <a class="navbar-brand mx-auto" routerLink="/add">Add Person</a>
              </div>
        </div>
    </nav>
